
<h1><center><font color="white">Ven, visita Chihuahua!!</font></center></h1>
<center><h3>Sitios mas recomendados</h3> </center>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
  	
  	<% @places_interests.each do |recommended| %>

        <div class="item"><a href="<%=places_interest_path(recommended.places_interest_id)%>"><center><img src="<%=PlacesInterest.find(recommended.places_interest_id).urlImage%>"  width="400" height="400"></center> </a>
          <div class="carousel-caption">
            <center><h4><%=PlacesInterest.find(recommended.places_interest_id).name%></h4></center>
          </div>
    </div>
      <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

