<center><h3>Registro de Sitios Nuevos</h3>
    <h5>Recuerda que tu registro debera ser verificado antes de ser publico.</h5>
    </br> <h4>Gracias por colaborar!!</h4>   </center>
<%= render :partial => 'form' %>
