<center>  <h3><%= Clasification.find(params[:id]).name %></h3></center>

<% @places_rh.each do |places_interest| %>

    <div align id="left" class="page-header">
      <h3 align ="left"><%= link_to places_interest.name,places_interest_path(places_interest) %></h3>

      <image align= "left"  height = "200" width = "200"  hspace = 30 src='<%=places_interest.urlImage%>'> </image>

      <div align = "justify"> <font size ="3"><%=places_interest.description %></div>
    </div>

<%end%>