  <h1><center>Recomendados por los demas
  	</center></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    	
    
      <th>Id Sitio</th>
      
      
      
     <th>Nombre</th>
      
      <th> Acciones</th>
    </tr>
  </thead>
  <tbody>
  	
    <% @recommended.each do |recommended| %>
      <tr>
        
        <td><h2><%= recommend.places_interest_id %></h2></td>
        <td><%= PlacesInterest.find(recommended.places_interest_id).name%>
        </td>
   
        <td><%= link_to "Ver Detalles", places_interest_path(recommended.places_interest) %></td>
	<%end%>
